{% extends 'base.html' %}

{% block content %}

<div id = "login">
    <h1>Search File By</h1>
    <div id = "searchButtons">
        <form action="." method="POST"> {% csrf_token %}
            {{form.as_p}}
            {{searchByName.as_p}}
            {{searchByDate.as_p}}
            <button type="submit" style="float: right;">Search</button>
        </form>
    </div>
</div>

<!-- <script>
    function fileNameFunchtion() {
        var fileName = document.getElementById("searchByFileName");
        var uploaderName = document.getElementById("searchByUploaderName");
        var uploadDate = document.getElementById("searchByUploadDate");
        var buttonFileName = document.getElementById("buttonFileName");
        var buttonUploaderName = document.getElementById("buttonUploaderName");
        var buttonUploadDate = document.getElementById("buttonUploadDate");
        if(fileName.style.display === "none"){
            fileName.style.display = "block";
            uploadDate.style.display = "none";
            uploaderName.style.display = "none";
            buttonFileName.style.backgroundColor = "grey";
            buttonUploadDate.style.backgroundColor = "black";
            buttonUploaderName.style.backgroundColor = "black";
        }
        else{
            fileName.style.display = "none";
            buttonFileName.style.backgroundColor = "black";
        }
    }

    function uploaderNameFunchtion() {
        var fileName = document.getElementById("searchByFileName");
        var uploaderName = document.getElementById("searchByUploaderName");
        var uploadDate = document.getElementById("searchByUploadDate");
        var buttonFileName = document.getElementById("buttonFileName");
        var buttonUploaderName = document.getElementById("buttonUploaderName");
        var buttonUploadDate = document.getElementById("buttonUploadDate");
        if(uploaderName.style.display === "none"){
            fileName.style.display = "none";
            uploadDate.style.display = "none";
            uploaderName.style.display = "block";
            buttonFileName.style.backgroundColor = "black";
            buttonUploadDate.style.backgroundColor = "black";
            buttonUploaderName.style.backgroundColor = "grey";
        }
        else{
            uploaderName.style.display = "none";
            buttonUploaderName.style.backgroundColor = "black";
        }
    }

    function uploadDateFunchtion() {
        var fileName = document.getElementById("searchByFileName");
        var uploaderName = document.getElementById("searchByUploaderName");
        var uploadDate = document.getElementById("searchByUploadDate");
        var buttonFileName = document.getElementById("buttonFileName");
        var buttonUploaderName = document.getElementById("buttonUploaderName");
        var buttonUploadDate = document.getElementById("buttonUploadDate");
        if(uploadDate.style.display === "none"){
            fileName.style.display = "none";
            uploadDate.style.display = "block";
            uploaderName.style.display = "none";
            buttonFileName.style.backgroundColor = "black";
            buttonUploadDate.style.backgroundColor = "grey";
            buttonUploaderName.style.backgroundColor = "black";
        }
        else{
            uploadDate.style.display = "none";
            buttonUploadDate.style.backgroundColor = "black";
        }
    } -->
</script>
{% endblock %}